<section class="w-75 mx-auto my-5">
  <h2 class="mb-3">
    {{ projectId ? "Projekt szerkesztése" : "Új projekt hozzáadása" }}
  </h2>
  <form [formGroup]="projectForm" (ngSubmit)="submitForm()">
    <div class="mb-3">
      <label for="name" class="form-label">Név</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
      />
      <small *ngIf="name?.invalid && name?.dirty" class="text-danger"
        >Kötelező mező</small
      >
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Leírás</label>
      <textarea
        class="form-control"
        id="description"
        rows="3"
        formControlName="description"
      ></textarea>
      <small
        *ngIf="description?.invalid && description?.dirty"
        class="text-danger"
        >Kötelező mező</small
      >
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Státusz</label>
      <select class="form-select" formControlName="status" id="status">
        <option default selected value="">Válassz...</option>
        <option *ngFor="let stat of Status | keyvalue" [value]="stat.value">
          {{ stat.value | titlecase }}
        </option>
      </select>
      <small *ngIf="status?.invalid && status?.dirty" class="text-danger"
        >Kötelező mező</small
      >
    </div>
    <h3 class="mt-5">Kapcsolattartók hozzáadása</h3>
    <div formArrayName="contacts" class="row my-3">
      <ng-container *ngFor="let contact of contacts.controls; let i = index">
        <div [formGroupName]="i" class="row mb-3">
          <div class="col-4 mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Név"
              formControlName="contactName"
            />
          </div>
          <div class="col-4 mb-2">
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              formControlName="contactEmail"
            />
          </div>
          <div class="col-2 mb-2">
            <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="removeContact(i)"
            >
              Törlés
            </button>
          </div>
        </div>
      </ng-container>
      <div class="row mb-3">
        <button
          type="button"
          class="btn btn-sm btn-outline-primary w-auto"
          (click)="addContact()"
        >
          Új kapcsolattartó
        </button>
      </div>
    </div>
    <div class="row my-5">
      <button
        type="button"
        class="btn btn-outline-dark w-25 mx-auto me-3"
        (click)="onReturn()"
      >
        Vissza
      </button>
      <button
        type="submit"
        class="btn btn-success w-25 mx-auto"
        [disabled]="projectForm.invalid"
      >
        Küldés
      </button>
    </div>
  </form>
</section>
