<section class="w-75 mx-auto my-5">
  <form [formGroup]="projectForm" (ngSubmit)="createProject()">
    <div class="mb-3">
      <label for="name" class="form-label">Név</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
      />
      <small *ngIf="name?.invalid && name?.dirty" class="text-danger"
        >Kötelező mező</small
      >
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Leírás</label>
      <textarea
        class="form-control"
        id="description"
        rows="3"
        formControlName="description"
      ></textarea>
      <small
        *ngIf="description?.invalid && description?.dirty"
        class="text-danger"
        >Kötelező mező</small
      >
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Státusz</label>
      <select class="form-select" formControlName="status" id="status">
        <option default selected value="">Válassz...</option>
        <option *ngFor="let stat of Status | keyvalue" [value]="stat.value">
          {{ stat.value | titlecase }}
        </option>
      </select>
      <small *ngIf="status?.invalid && status?.dirty" class="text-danger"
        >Kötelező mező</small
      >
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="projectForm.invalid"
    >
      Küldés
    </button>
  </form>
</section>
