<section class="container">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Név</th>
        <th>Státusz</th>
        <th>Kapcsolattartók száma</th>
        <th>Opciók</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects$ | async; index as i">
        <td class="">{{ i + 1 }}</td>
        <td>{{ project.name }}</td>
        <td>{{ project.status | titlecase }}</td>
        <td>5</td>
        <td>
          <button class="btn btn-warning me-3">Szerkesztés</button>
          <button class="btn btn-danger">Törlés</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
